<div class="wrap-modal fade-modal" ng-if="display">
        <div class="wrap-modal__modal-container">
           <div class="modal">
              <div class="modal-close" data-ng-click="close()">
                 <div class="modal-close__icon">
                    <i class="icon icon--cross"></i>
                 </div>
                 <div class="modal-close__text">Close</div>
              </div>
              <div class="modal__wrap">
                 <div class="modal__content">
                    <div class="page__content">
                       <form>
                          <h2 class="heading--2">Confirm</h2>
                          <p class="paragraph bold">Are you sure to delete this rule ?</p>                          
                          <div class="clearfix">  
                             <div class="wrap-btns wrap-btns--right">
                                <div class="btn btn--save">
                                   <input type='button' class='btn__input' value='Next' data-ng-click="yes()"/>
                                   <span class="btn__text">Yes</span>
                                </div>
                                <a class="btn btn--ghost" data-ng-click="no()">
                                   <span class="btn__text">No</span>
                                </a>
                             <!-- </div> -->
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div id="fade" class="overlay" data-ng-click="close()"></div>
     </div>